<p>
  <b>Eventid:</b>
  <%=h @eventmedia.eventid %>
</p>

<p>
  <b>Mediafile:</b>
  <%=h @eventmedia.mediafile %>
</p>


<%= link_to 'Edit', edit_eventmedia_path(@eventmedia) %> |
<%= link_to 'Back', eventmedias_path %>