
.alltext{
  font-family: "Trebuchet MS";
  color: #1B75BC;
  font-size: 12pt;
  font-weight: bold;
}

.tabtext{
  font-family: "Trebuchet MS";
  color: #1B75BC;
  font-size: 10pt;
}

.ecanvas{
  width:  820px;
  height: 500px;
 
  margin-top:  0px;
  margin-left: 0px;
  position: absolute;
}

#edesc, #vedesc{
  margin-top:  5px;
  margin-left: 7px;
}

#eventdesc input[type="text"] {
  width:  400px;
  height:  25px;
  
  border: solid 1px;
  
  margin-top:  5px;
  margin-left: 5px;
  /*position: absolute;*/
}

label{
  width:  400px;
  height:  25px;
  
  margin-top:  5px;
  margin-left: 5px;  
}

#eventtext, #vieweventtext{
  margin-top:  45px;
  margin-left: 5px;
  position: absolute;
  
  background-image: url("../images/notepad.png");
  width:  217px;
  height: 375px;
  
  /*border: solid thin;*/
}

#etext{
  margin-top:  20px;
  margin-left: 7px;  
  
  position: absolute;
}

#etextarea {
  margin-top: 54px;
  
  font-size:  17px;
  
  background-color: transparent;
  border: none;
}

#tabs{  
  margin-top:  53px;
  margin-left: 250px;
  position: absolute;
}

#tabs-2, #tabs-3{
  overflow: scroll;
}

.ui-tabs-panel{
  width:  500px;
  height: 360px;
}

#drawbox { 
  background: #fff; 
  border: 1px solid #999; 
  -moz-border-radius: 10px; 
  -webkit-border-radius: 10px;   
}

#imgfile input[type="file"]{
  margin-top:  25px;
  
  font-family: verdana;
  font-size: 14pt;
  
  width: 250px;
  height: 70px;
}

#portfolio{
  margin-top :  53px;
  margin-left: 250px;
  
  width:  550px;
  height: 370px;
  
  background-image: url("../images/videoView_bg.png");
}

.vidbox, .imgbox{
  width:  500px;
  height:  70px;
  
  margin-top: 5px;
  
  /*border: solid thin;
  border-color: black;*/ /*#E6F9BC;*/
  background-color: #F2F2F0;
}

.vidtext, .imgtext{ 
  width:  380px;
  height:  20px;
  
  border: solid thin;
  border-color: gray; 
  
  margin-top:  10px;
  margin-left:  5px;
}

.vidlabel, .imglabel{
  font-size: 10pt;
}

.imgfilebox{
  margin-top:  10px;
  margin-left:  5px;
}

.over{
  background-color: #E6F9BC;
}

.imgdelclass, .viddelclass{
  width:  9px;
  height: 9px;
  
  float: right; 
  
  margin-top:    5px;
  margin-right:  5px;
  visibility: hidden;
}

#alertdialog{
  font-family: "Trebuchet MS";
  font-size: 11pt;
}