/* Put these at the top to make absolute positioning work better by setting
	padding and margin to 0 by default on all elements */
#island-area {
	width: 960px;
	height: 150px;
	border: 1px dashed green;
}

.bubble {
	width: 50px;
	height: 50px;
	background-image: url("../images/bubble.png");
	
	position: absolute;
	text-align: center;
	line-height: 50px;
}

#image-bubble{
	width: 50px;
	height: 50px;
	background-image: url("../images/bubble.png");
	
	position: absolute;
	text-align: center;
	line-height: 50px;
}

.letter {
	float: left;
	margin: 10px 10px 10px 10px;
}


