.commonalign{
  margin: 0px auto;
}

.common{
  font-family: "Georgia";
  font-size  :  12pt;
}

.commonmono{
  font-family:  Andale Mono;
  font-size:    10pt;
  color:        blue;
}

#header{
  width:  960px;
  height:  10px;
}

#mainnav{
  float: right;
}

#landing-div{
  margin-top:    82px;
  height:       640px; /*THIS ADJUSTS THE FOOTER SO IF YOU CHANGE IT YOU HAVE TO CHANGE IT EVERYWHERE */
}

.landing-background{
  background-image:  url(../images/mainbackground.jpg);
  background-repeat: no-repeat; 
}

.signup-background{
  background-image:  url(../images/LoginPage.jpg);
  background-repeat: no-repeat; 
}

.other-background{

}

.content{
  height: 680px;
}

#footer{
  width:  960px;
  height:  40px;
}

#copyright{
  margin-top:   0px;
  margin-left: 400px;
  position: absolute;
}

#footnav{
  margin:0px auto;
}


/* SIGN UP SIGN IN BOX
***********************************************************************/
#sign-div {
 position:     relative;
 margin-top:    80px;
 width:        960px;
 height:       640px; /*THIS ADJUSTS THE FOOTER SO IF YOU CHANGE IT YOU HAVE TO CHANGE IT EVERYWHERE */
 
 font-family: "Trebuchet MS";
 font-size  :  11pt;
 color:        #3A3A3A;
}

#sign-div input[type="text"], #sign-div input[type="password"] {
  width:  175px;
  height:  18px;
  border: solid 1px grey; 
  margin-top:  5px;
  margin-left: 5px;
}

.sign-header{
  text-align : center;
  color: #38A4DD;
  font-size:  15pt;
}

.sign-buttons{
  float:  right;
}

.sign-common{
  position:absolute;
  top:     80px;
  width:  355px;
  border: solid thin #E8F74F;
  background-color: #E8F74F;
  
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}

#signin-div {
 right:   80px;
 height: 200px;
}

#signup-div {
 left:    80px;
 height: 350px;
}

#signupheader{
  top:          60px;
  left:        140px;
  position: absolute;
}

#signuptable, #signintable{
  margin-left:   5px;
  margin-right: 10px;
}


/* LEARN MORE, ABOUT US, FAQS
***********************************************************************/
#learn-more{
 position:     relative;
 margin-top:    80px;
 width:        600px;
 height:       640px; /*THIS ADJUSTS THE FOOTER SO IF YOU CHANGE IT YOU HAVE TO CHANGE IT EVERYWHERE */
 
 font-family: "Trebuchet MS";
 font-size  :           12pt;
 color      :        #3A3A3A;
 text-align :         center;
}

#learn-more-subheader, #about-subheader{
  font-size  :  15pt;
  font-weight : 550;
  color:     #007CC4;
}

#learn-more-header {
  font-size  :  18pt;
}

.learn-more-text, .faqs-text {
}

.learn-more-ps{
  font-size  :  10pt;
  color: #FF9001;
}

/* ABOUT US
***********************************************************************/
#about{
 position:     relative;
 margin-top:    80px;
 width:        675px;
 height:       640px; /*THIS ADJUSTS THE FOOTER SO IF YOU CHANGE IT YOU HAVE TO CHANGE IT EVERYWHERE */
 
 font-family: "Trebuchet MS";
 font-size  :  11pt;
 color:     #3A3A3A;
 text-align : center;
}

#about-header{
  font-size  :  18pt;
}

.about-text{
  margin-left:   30px;
  width:        600px;
}

.dots{
  color: #FF9001;
  font-weight: bolder;
}

#team{
  height: 400px;
  width:  650px;
  
  background-color: #EEF5A8;
  border: solid thin #EEF5A8;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}

/* FAQS
***********************************************************************/
#faqs {
 position:     relative;
 margin-top:    80px;
 width:        600px;
 height:       640px; /*THIS ADJUSTS THE FOOTER SO IF YOU CHANGE IT YOU HAVE TO CHANGE IT EVERYWHERE */
 
 font-family: "Trebuchet MS";
 font-size  :           12pt;
 color      :        #3A3A3A;
 text-align :         left;
}

#faqs-header {
  font-size  :  18pt;
  text-align :  center;
}

#q-a{
  padding: 0;
}

.qs{
  color: #007CC4;
}

/* PRIVACY
***********************************************************************/
#privacy{
 position:     relative;
 margin-top:    80px;
 width:        675px;
 height:       640px; /*THIS ADJUSTS THE FOOTER SO IF YOU CHANGE IT YOU HAVE TO CHANGE IT EVERYWHERE */
 
 font-family: "Trebuchet MS";
 font-size  :  11pt;
 color:     #3A3A3A;
 text-align : center;
}

#privacy-header{
  font-size  :  18pt;
}

.privacy-text{
  margin-left:   30px;
  width:        600px;
}

/* TERMS
***********************************************************************/
#terms{
 position:     relative;
 margin-top:    80px;
 width:        675px;
 height:       640px; /*THIS ADJUSTS THE FOOTER SO IF YOU CHANGE IT YOU HAVE TO CHANGE IT EVERYWHERE */
 
 font-family: "Trebuchet MS";
 font-size  :  11pt;
 color:     #3A3A3A;
 text-align : center;
}

#terms-header{
  font-size  :  18pt;
}

.terms-text{
  margin-left:   30px;
  width:        600px;
}



/* CONTACT US
***********************************************************************/
#contact {
 position:     relative;
 margin-top:    80px;
 width:        450px;
 height:       640px;  /*THIS ADJUSTS THE FOOTER SO IF YOU CHANGE IT YOU HAVE TO CHANGE IT EVERYWHERE */
 
 font-family: "Trebuchet MS";
 font-size  :  11pt;
 color:        #3A3A3A;
}

#contact input[type="text"] {
  width:  290px;
  height:  18px;
  border: solid 1px grey; 
  margin-top:  5px;
  margin-left: 5px;
}

.contact-header{
  text-align : center;
  color: #38A4DD;
  font-size:  15pt;
}

.contact-box{
  position:absolute;
  top:     80px;
  width:  450px;
  border: solid thin #E8F74F;
  background-color: #E8F74F;
  
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}

#contacttable{
  margin-left:   5px;
  margin-right: 10px;
}
