/* THE USER SPACE
**************************************************/
#userinfo{
}

/* THE ISLANDS SPACE
***************************************************/
#islands{
  width:  960px;
  height: 200px;
  border: solid thin green;
}

.bubble-container{
  width:    100px;
  height:   87px;
  z-index:  10;
  /*position: relative; */
  position: absolute;  /*CANNOT HAVE THIS BECAUSE THE BUBBLES WILL NOT SCROLL WITH THE TIMELINE OTHERWISE */
}

.bubble{
  width:  50px;
  height: 50px;
  background: url('../images/bubble.png');
  margin-left: 25px;
  cursor: move;
}

.bubble-container a { 
  float: left; 
  margin-left: 12px; 
  margin-top: 50px; 
}

.bubble-container h5 {
  margin: 0 0 0.4em; 
  text-align: center;
}

/* THE DROP SPACE
***************************************************/
#droppable{
  width:  960px;
  height: 290px;
  border: solid thin blue;
  position: relative;
}

/* THE SCROLL SPACE
**************************************************/
#main {
  width: 960px;
  margin: 0 auto;
}

#content-slider {
  width: 950px;
  height: 6px;
  margin: 0 auto;
  margin-top: 20px;
  background: #83988E;
  position: relative;
}

#content-scroll {
  width:  500px;
  height: 560px;
  margin-top: 10px;
  overflow: hidden;
  border: solid 1px black;
  position: relative;
}

#content-holder {
  width: 1500px;
  height:  45px;
}

.content-item {
  width: 950px;
  height: 22px;
  background-color: #ADBD06;
  float: left;
  color: white;
}


/* TIMELINE PARTS AND THEIR LABELS
**************************************************/
table.partstable{
  border-spacing: 0; 
}

.parts{
  text-align:  center;
  line-height:  20px;
  color:       white;
  
  border-width: 0px 1px 0 0;
  border-color: black;
  border-style: solid;
}

.tdates{
  text-align:  center;
  line-height:  15px;
  color:        #D46600;
  
  border-width: 0px 1px 0px 0px;
  border-color: blue;
  border-style: solid;
}

/* TIMELINE ICONS
**************************************************/
#intervals{
  width:  960px;
  height:  70px;
}

.intervalicon{
  width:  75px;
  height: 47px;
}

.levels{
  margin-top:   10px;
  position: absolute;
  border: solid #F6E03F;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
}
