/* THE USER SPACE
**************************************************/
#last-saved{
  margin-top:    -15px;
  margin-left:  20px;
  position:  absolute;
  color:      #38A4DD;
  z-index:    200;
  font-weight: bold;
}

#loader{
  width:  100px;
  height: 100px;
  text-align: center;
}

#loader .ui-dialog-titlebar{ 
  display:none; 
}

#help-screen{
  margin-top:     -60px;
  margin-left:      0px;
  position:  absolute;
  width :      1263px;
  height:       761px;
  z-index:       9999;
  display:       none;
  background: url('../images/help.jpg');
}

#close-help{
  margin-top:   10px;
  margin-right: 20px;
  float: right;
  width:  32px;
  height: 32px;
  background: url('../images/remove.png') no-repeat;
  z-index:    9999;
}

#close-help:hover{
  background-color: white;
}

#helper-crab{
  width: 58px;
  height: 43px;
  background: url('../images/helpcrab.png');
  float: right;
  margin-top:  -50px;
  margin-right: 20px;
}

#helper-crab:hover{
  background-color:  yellow;
}

#userinfo{
}

#save-event{
  margin-top:     0px;
  margin-right:  10px;
  position:  absolute;
}

/* THE ISLANDS SPACE
***************************************************/
.timeline-body{
  background: url('../images/timeline_bg.jpg');
}

#islands{
  width:  960px;
  height: 175px;
  /*border: solid thin green; */
}

.bubble-header{
  color: white;
  margin: 0px; 
  text-align: center;
}

.bubble-container{
  width:    150px;
  height:   100px;
  z-index:  10;
  position: absolute;  
}

.bubble{
  width:  50px;
  height: 50px;
  margin: 0 auto;
  line-height: 50px;
  cursor: move;
}

.bubble-container a { 
  float: left; 
  margin-left: 30px; 
  margin-top:   0px; 
  align:     center;
}

.icon-lock {
  margin-top:     0px;
  margin-left:   90px;
}

.ui-draggable-disabled{
  opacity: 0.9;
}

.bubble-container h5 {
}

.textfield_effect {
    border-style:     solid; 
    border-color:     transparent; 
    background-color: transparent;
    
    color:      #3A3A3A;
    text-align: center;
    
    width:   145px;
    height:   25px;
    overflow:hidden;
}

.textfield_effect:hover {
    border-color: #3A3A3A;
    border-width: 1px;
}
 
.textfield_effect:focus {
    border-color: #64acd8;
    border-width: 1px;
}


/* THE DROP SPACE
***************************************************/
#droppable{
  width:  960px;
  height: 260px;
  /*border: solid thin blue; */
  position: relative;
}

/*THE ISLAND SCROLL SPACE
***************************************************/
#island-scroll {
  width:  500px;
  height: 120px;
  margin-top: 0px;
  border: solid 1px orange;
  position: relative;
  overflow: auto;
  z-index:  9999;
}
/****************************************************/




/* THE SCROLL SPACE
**************************************************/
#timeline-content{
 height: 725px;
}

#events{
  position: absolute;
}

#main {
  width: 960px;
  margin: 40px auto;
}

#slider-elements{
  margin: 0 auto;
}

#content-slider {
  width: 950px;
  height: 6px;
  margin: 0 auto;
  background: #F6E03F;
  position: relative;
}

.ui-slider .ui-slider-handle { 
  background: url('../images/dragMe.png');
  top: -4.0em;
  width:  3.6em; 
  height: 4.2em;
}

.arrows{
  width:        32px;
  height:       32px;
  top:          10px;
  border-style: solid;
  border-color: transparent;
}

.arrows:hover {
  border-color: #F6E03F;
  border-width: 2px;
}
 
.arrows:focus {
  border-color: #F6E03F;
  border-width: 2px;
}

#prev{
  background: url('../images/back.png');
}

#next{
  background: url('../images/next.png');
}

.ui-icon { 
} 

#content-scroll {
  width:  500px;
  height: 500px;
  margin-top: 0px;
  overflow: hidden;
  border: solid 1px black;
  position: relative;
  background: url('../images/timeline_bg.jpg');
  background-repeat: repeat-x;
}

.contentholder{
  width: 1500px;
  height:  45px;
  margin-top: 0px;
  position: absolute;
  display: none;
}

.content-item {
  width: 950px;
  height: 22px;
  background-color: #ADBD06;
  float: left;
  color: white;
}


/* TIMELINE PARTS AND THEIR LABELS
**************************************************/
table.partstable{
  border-spacing: 0; 
}

.parts{
  text-align:  center;
  line-height:  20px;
  color:       white;
  
  border-width: 0px 1px 0 0;
  border-color: black;
  border-style: solid;
  
  color:     #3A3A3A;
  font-size: 10pt;
}

.tdates{
  text-align:  center;
  line-height:  15px;
  color:        #3A3A3A;
  
  border-width: 0px 1px 0px 0px;
  border-color: #3A3A3A;
  border-style: solid;
  
  font-size: 10pt;
}

/* TIMELINE ICONS
**************************************************/
#intervals{
  width:  960px;
  height:  100px;
  margin-top: -60px;
}

.intervalicon{
  width:  75px;
  height: 47px;
}

.levels{
  margin-top:    5px;
  position: absolute;
  border: solid #F6E03F;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
}
