<div class = "content">
  <div id = "about" class="commonalign">
    <div id = "about-header">About Us</div>
    <br/><br/>
    <div class = "about-text" class="commonalign">
      Isles of Time was designed and built by a group of three schoolmates. You may be in the 3rd, 4th, or 
      5th grade. Isles of Time's makers are in the 17th grade, aka graduate school. They study how technology 
      helps people learn.
    </div>
    <br/>
    <div class = "about-text" class="commonalign">
      They were born in places all around the world: India, Korea, and the United States. They met each other 
      on an "Isle of Time" in 2009, at Stanford University in California. You can read more about them below.
    </div>
    <br/>
    <div id="team" class="commonalign">
      <br/>
      <div class="about-text">
      <span style="color: #007CC4">Amrita Thakur</span> is a designer and developer, who creates software products. She grew up in India 
      but has traveled widely and lived in various places.She has always been passionate about children, and wants 
      to give them learning experiences which are fun, interactive and which encourage creativity and collaboration. 
      She is also a bookworm and as a child constantly created imaginary islands from all the stories she read. Nowadays
      she uses the more prosaic Google Calendar to keep track of time. 
      </div>
      <br/>
      <div class="dots"> ........................................................................................ </div>
      <br/>
      <div class="about-text">
    
      </div>
      <br/>
      <div class="dots"> ........................................................................................ </div>
      <br/>
      <div class="about-text">
      <span style="color: #007CC4">Christopher Warner</span> is a teacher. He has taught kids of all ages, but mostly 4th & 5th graders. 
      He was born in the Appalachian mountains, grew up in Kentucky, and moved to California in 2003. 
      He has been capturing his own "Isles of Time" in a special personal journal for many years.
      </div>
    </div> <!-- team ends -->
  </div>
</div>

<% content_for :javascript do %>
    
<% end %>

<!-- onclick="window.location='/users/logout'; return false;" /> -->
