
<div class = "content">
  <div id = "faqs" class="commonalign">
    <div id = "faqs-header">Frequently Asked Questions</div>
    <br/>
    <div class = "faqs-text">
       <span class="qs">1. What are Isles of Time ?</span><br/>
       <span class="as"><strong>a.</strong>&nbsp Isles of Time are your own special memories, connected together by the ocean of your life.
                Remember when you lost your first tooth? Or when you started kindergarten? Or maybe you went on an exciting 
                vacation, or a brother or sister was born, or you tried a new food or had a terrific birthday celebration. 
                Each of your memories is unique to you, and now you can show those memories on your own Isles of Time page. 
                Each memory is its own island, where you can go to be alone or invite others to come along.
       </span><br/>
       <br/>
       <span class="qs">2. What should I consider while creating my Isles ?</span><br/>
       <span class="as"><strong>a.</strong>&nbsp  Each child's Isles are different, just as each child is special and unique. Some questions you 
                 might wish to consider while creating your Isles include:
            <ul style="list-style-type:square">
			  <li>What are my favorite memories?</li>
			  <li>Who are the people who are important to me?</li>
			  <li>What do I love to do?</li>
			  <li>Where do I love to go?</li>
			  <li>What is something that was hard for me that I conquered?</li>
			  <li>What holidays or special events to I celebrate?</li>
			  <li>How have I changed since I was little?</li>
		    </ul>
	   </span>
       <span class="qs">3. Can I share my Isles with my friends and family ?</span><br/>
       <span class="as"><strong>a.</strong>&nbsp Yes, you can share your Isles, BUT YOU DON'T HAVE TO. You get to choose what you share, when you want to 
                share it, and who to share it with. We understand that some memories are sacred and best kept to yourself, 
                and others are worth sharing with the people you love. You and your parent(s) get to decide whether & how 
                to share certain Isles. 
       </span><br/>
       <br/>
       <span class="qs">4. Can others see my Isles ?</span><br/>
       <span class="as"><strong>a.</strong>&nbsp Only if you want them to. They cannot see anything you add or change until you've invited them to see it.
       </span><br/>
       <br/>
       <span class="qs">5. Can I see others' Isles ?</span><br/>
       <span class="as"><strong>a.</strong>&nbsp Only if they want you to. You cannot see anything they add or change until they've invited you to see it.
       </span><br/>
       <br/>
       <span class="qs">6. What if I want to change or remove an Isle ?</span><br/>
       <span class="as"><strong>a.</strong>&nbsp You can do that--it's easy. And if you've already invited people to see that Isle, it will automatically 
               update so they see the new version of it, not the old.
       </span><br/>
       <br/>
       <span class="qs">7. What kinds of "stuff" can I put on my Isles?</span><br/>
       <span class="as"><strong>a.</strong>&nbsp You can draw pictures, add photographs, and link videos or songs or voice recordings. You can also use words 
                to help tell the story of each particular Isle. You get to play with all kinds of media to make your Isles super-fun 
                places to be!
       </span><br/>
       <br/>
       <span class="qs">8. What rewards do I get for building my Isles?</span><br/>
       <span class="as"><strong>a.</strong>&nbsp You get to be the boss! Your Isles are your property. You decide what they look like, and what and who 
                are on them. You can zoom in to look closely at one of your Isles, or zoom out to see the big beautiful 
                picture. You can retreat to an Isle to have some alone-time, or have a party on an Isle with friends and family. 
                Looking at your Isles is like looking into a mirror--maybe you will see something you've never noticed before!
       </span><br/> 
       <br/>
    </div>
  </div>
</div>

<% content_for :javascript do %>
    
<% end %>

<!-- onclick="window.location='/users/logout'; return false;" /> -->
