
<div class = "content">
  <div id = "faqs" class="commonalign">
    <div id = "faqs-header">Frequently Asked Questions</div>
    <br/>
    <div class = "faqs-text">
       <span class="qs">1. What are Isles of Time ?</span><br/>
       <span>a. </span><br/>
       <br/>
       <span class="qs">2. What should I consider while creating my Isles ?</span><br/>
       <span>a. </span><br/>
       <br/>
       <span class="qs">3. Can I share my Isles with my friends ?</span><br/>
       <span>a. </span><br/>
       <br/>
       <span class="qs">4. Can others see my Isles ?</span><br/>
       <span>a. </span><br/>
       <br/>
    </div>
  </div>
</div>

<% content_for :javascript do %>
    
<% end %>

<!-- onclick="window.location='/users/logout'; return false;" /> -->
