
<div class = "content">
  <div id = "learn-more" class="commonalign">
    <div id = "learn-more-header">What do we mean by Isles of Time ?</div>
    <br/><br/>
    <div id = "learn-more-subheader">Imagine this !</div>
    <br/>
    <div class = "learn-more-text">
      Your life is a great, big, vast ocean. Each of your memories is an island in that 
      ocean, and each "island" is unique by your design. Your islands are your own special places where 
      you can go whenever you like. Build your archipelago<sup>1</sup> using pictures, music, sounds and words.
    </div>
    <br/>
    <div class="learn-more-text">
    As you save your memories, your Isles of Time will display just how awesome you really are!
    </div>
    <br/><br>
    <div class="learn-more-ps">
      1. archipelago |ˌärkəˈpeləˌgō| - a stretch of water containing many islands
    </div>
  </div>
</div>

<% content_for :javascript do %>
    
<% end %>

<!-- onclick="window.location='/users/logout'; return false;" /> -->
