
<div class = "content">
  <div id = "privacy" class="commonalign">
    <div id = "privacy-header">Privacy</div>
    <br/>
    <div class = "privacy-text">
    In order to build thriving Isles of Time, it is important to take certain safety measures.
    <br/><br/>
    First, have your parent or guardian help you create an account and start building your first Isle(s). 
    It will be fun for both of you to reminisce on your favorite memories, and your trusted adult will help you 
    think about what pictures, words, sounds and/or videos to include on your new Isles. They will also be able 
    help you think about who to invite to see your new Isles, or which ones to keep private.
    <br/><br/>
    For more tips on using the Internet safely as a child,</div>
    <a href = "http://www.fbi.gov/kids/k5th/safety2.htm">see what the FBI has to say on the matter</a><span>.<span>
  </div>
</div>

<% content_for :javascript do %>
    
<% end %>

<!-- onclick="window.location='/users/logout'; return false;" /> -->
