
<div class = "content">
  <div id = "privacy" class="commonalign">
    <div id = "privacy-header">Privacy</div>
    <br/>
    <div class = "privacy-text">
    </div>
  </div>
</div>

<% content_for :javascript do %>
    
<% end %>

<!-- onclick="window.location='/users/logout'; return false;" /> -->
