
<div class = "content">
  <div id = "terms" class="commonalign">
    <div id = "terms-header">Terms and Conditions</div>
    <br/>
    <div class = "terms-text">
    </div>
  </div>
</div>

<% content_for :javascript do %>
    
<% end %>

<!-- onclick="window.location='/users/logout'; return false;" /> -->
