Dear <%= @recipient_name %>,
<br/><br/>
You can access your account by clicking on this link. <i><b> Please reset your password when you go to your account.</b></i>
<br/><br/>
<a href="http://<%= @encoded_url %>">http://<%= @encoded_url %></a>
<br/><br/>
Thanks,
<br/>
Isles of Time
 
 
